.leaderboard-container {
    background: red;
}

.credit-leaderboard {
    background: #fff;

}

.Credential-leaderboard {
    background: #fff;
}

.leaderboard-wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.credit-leaderboard {
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 30px;
    width: 50%;
    height: 100%;
}

.Credential-leaderboard {
    border: 1px solid #D9D9D9;
    padding: 30px;
    width: 50%;
    border-radius: 15px;
}

.top-mounted-select {
    border-bottom: none;
}

.leaders-headed {
    border-bottom: 1px solid #9D9D9D;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px
}

.leaders-headed.open::after {
    transform: rotate(225deg);
}

.leaderboard-wrap {
    display: flex;
    justify-content: space-between;


}

.grid-container {
    padding-left: 0;
    padding-right: 0;
}

.credit-leaderboard {
    width: 50%;
}

.credit-leaderboard {
    width: 50%;
}

.text-center {
    text-align: left;

}

.nitro-widget {
    margin-top: 15px;

}

.widget-header-title {
    display: none;
}

.cell {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px
}

.hook-selector .top-mounted-select {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding: 0;
    border-bottom: none;
}

.object-selector::after {
    content: "";
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid #2c2c2c;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    border-width: 0 2px 2px 0;
}


.hook-selector .top-mounted-select {
    border-bottom: 0;
}

.grid-row .grid-x {
    padding: 0;
}

.leaderboard {
    // padding-right: 20px;
}

.leaderboard-content-container .leaderboard {
    max-height: 422px;
    overflow-y: auto;


    &::-webkit-scrollbar {

        width: 4px;
        background-color: #D9D9D9;
        border-radius: 5px;

    }

    &::-webkit-scrollbar-track {
        width: 4px;
        background-color: #D9D9D9;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        width: 4px;
        background-color: #3273DE;
        border-radius: 5px;
        height: 10px;

    }
}

.columns {
    padding: 0;
}

.columns {
    padding: 0;
}

.leaderboard .text-center-row-other .row-other {
    text-align: right;
}

.grid-margin-x {
    margin: 0;
}

.leaderboard-profile-section {
    background: #fff;
}

select {
    background-image: url("https://github.com/Ganesh2811/nitro-files/blob/main/arrow.svg");
}




@media screen and (max-width:767px) {

    .leaders-headed.open {
        border-bottom: 1px solid #9D9D9D;
        padding-bottom: 20px;
    }

    .credit-leaderboard-wrap,
    .credentials-leaderboard-wrap {
        display: none;
    }

    .leaders-headed {
        border-bottom: none;
        padding-bottom: 0;

    }

    .leaderboard-wrap {
        flex-direction: column;
    }

    .Credential-leaderboard {
        width: 100%;
    }

    .credit-leaderboard {
        width: 100%;
        // padding: 18px;
    }


    .leaders-headed {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
    }

    .leaders-headed::after {
        border: solid #2c2c2c;
        border-width: 0 2px 2px 0;
        content: "";
        display: inline-block;
        padding: 3px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);

    }

    select {
        padding: 0;
    }
}
